/* font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif; */

html {
  scroll-behavior: smooth;
}

#idea {
  font-family: 'Open Sans', sans-serif;
  background: white;
  color: black;
}

.paragraph {
  color: #666666;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.home {
  width:100% ;
  height: 100vh;
  background: url(../assets/edited-header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.content-img {
  width:100% ;
  height: 20rem;
  background: url(../assets/content.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.tablet-img {
  width:100% ;
  height: 20rem;
  background: url(../assets/tab.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.email-img {
  width:100% ;
  height: 20rem;
  background: url(../assets/email.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.seo-img {
  width:100% ;
  height: 20rem;
  background: url(../assets/seo.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.landing {
  position: relative;
  color: white;
  font-family: 'Merriweather', serif
}

.splash {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: start; 
  align-items: center; 
}

.head {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 4rem;
  letter-spacing: 2px;
}

.spy {
  position: relative;
}

.dark {
  color: #000000;
  font-size: 18px;
  line-height: 25px
}

.dark:hover {
  color: #4200FF;
}

.navbar .active {
  color: #4200FF;
}

.brand {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}

.brand:hover {
  color: #000000;
}

.brand:focus {
  color: #000000;
}

.brand:active {
  color: #000000;
}

.colored {
  color: #4200FF;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  line-height: 80px;
  letter-spacing: 2px;
}

.button {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.5px;
  color: white;
  background: #4200FF;
  border-radius: 0;
  font-size: 16px;
  line-height: 20px;
}

.button:hover {
  background: white;
  color: #4200ff;
  border: 1px solid #4200ff;
}

.button:active {
  background: white;
  color: #4200ff;
  border: 1px solid #4200ff;
}

.button:focus {
  background: white;
  color: #4200ff;
  outline: none;
  border: 1px solid #4200ff;
  box-shadow: none;
}

.services {
  background: rgba(66, 0, 255, 0.03);
}

.carousel {
  width: 75%;
  margin: 0 auto;
}

.card {
  background: rgba(66, 0, 255, 0.03);
  width: 18rem;
  color: #666666;
  margin-right: 0;
}

.carousel-indicators {
  bottom: -100px;
}

.card-title {
  color: #000000;
}

.rounded-circle {
  width: 130px;
  height: 130px;
  background-size: cover;
}

.price {
  font-family: 'Merriweather', serif;
  font-size: 52px;
  line-height: 80px;
  letter-spacing: 2px;
  color: #4200FF;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #D8D8D8;
}

.carousel-indicators .active{
  border-radius: 100%;
  background-color: #4200FF;
}

.footer {
  background: #444444;
  columns: white;
  font-family: 'Work Sans', sans-serif; 
}

.form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #000000;
  opacity: 0.3;
  padding: 35px;
}

.form-control:focus{
  border: none;
  outline: none;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
}

.top {
  z-index: 100;
}

@media only screen and (max-width: 1000px) {
  .card {
    width: 100%;
  }
  .carousel {
    width: 100%;
  }
  .temp {
    display: none;
  }
}

a:hover {
  text-decoration: none;
}

.font {
  font-family: 'Work Sans', sans-serif;
  line-height: 20px;
  letter-spacing: 0.005em;
}

.testimonials {
  background: rgba(66, 0, 255, 0.03);
}

.image:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
}

.service {
  width: 20rem;
  height: 20rem;
}
