@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap');

*, body {
    font-family: 'Montserrat', sans-serif;
}
nav.navbar {
    padding: 0 26px;
}

nav.navbar.nav-top {
    padding: 16px 26px 0 26px;
}

nav.navbar .navbar-brand  {
    margin-left: 5px;
    height: 100%;
}

nav.navbar .navbar-brand img {
    height: 22px;
}

nav.navbar .right-side-mobile {
    display: flex;
    align-items: center;
}

nav.navbar .toggle-icon {
    width: 25px;
    height: 3px;
    color: #ffffff;
    position: relative;
    border-radius: 9px;
    display: block;
    background-color: #ffffff;
    margin-left: 16px;
}

nav.navbar .toggle-icon.collapsed {
    background-color: #000000;
}

nav.navbar .toggle-icon::before {
    top: -4px;
    position: absolute;
    left: 0;
    background-color: #000000;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 9px;
    content: "";
    transform-origin: center;
    transform: rotate(45deg) translateY(4px);
    transition: transform 0.3s;
}

nav.navbar .toggle-icon.collapsed::before {
    transform: rotate(0);
}

nav.navbar .toggle-icon::after {
    top: 4px;
    position: absolute;
    transition-property: top,transform;
    left: 0;
    background-color: #000000;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 9px;
    content: "";
    transform: rotate(-45deg) translateY(-4px);
    transition: transform 0.3s;
}

nav.navbar .toggle-icon.collapsed::after {
    transform: rotate(0);
}

.navbar-collapse {
    color: #ffffff;
}
.navbar.menu {
    padding: 0;
}
.navbar-collapse .nav-menu {
    background-color: rgba(0,0,0,0.91);
    padding: 0 26px;
    width: 100%;
}

.navbar-collapse ul.navbar-nav {
    justify-content: space-around;
}

.navbar-collapse ul li a {
    color: #ffffff;
    font-weight: 500;
}

.shopping-cart img,
.auth img {
    width: 36px;
}

.nav-top .navbar-item {
    padding: 20px 0;
}

nav.nav-top .navbar-collapse {
    margin-left: -26px;
    margin-right: -26px;
    padding: 0 26px;
    background-color: rgba(200,0,50,0.91);
}

.nav-top .search-box input {
    border-radius: 34px;
    background-color: rgba(239, 237, 237, 0.94);
    padding: 19px 35px;
    vertical-align: middle;
    height: auto;
}
.nav-top .search-box {
    position: relative;
}

.nav-top .search-box::after {
    content: url(../assets/search-icon-black.svg);
    display: block;
    right: 30px;
    top: 25%;
    position: absolute;
    width: 32px;
}

section.first-section {
    margin-top: 16px;
    background-image: url(../assets/top-image.jpg);
    background-position-x: 100%;
        background-size:cover;
    height: 260px;
}

@media screen and (min-width: 992px) {
    section.first-section {
        height: 1078px;
        margin-top: 0;
        background-position-y: 0;
    }
    nav.navbar.nav-top {
        justify-content: space-between;
        padding: 51px 54px;
    }

    .navbar-collapse ul li a {
        font-size: 22px;
        line-height: 27px;
    }

    .navbar-collapse ul.navbar-nav li {
        padding: 27px 0 15px 0;
    }
    .auth {
        margin-right: 70px;
    }
     nav.nav-top .navbar-collapse {
        flex-grow: 0;
        margin: 0;
        padding: 0;
        background-color: transparent;
        color: #000000;
    }
    nav.navbar .navbar-brand img {
        height: 53px;
    }
    .nav-top .search-box input {
        min-width: 400px;
    }
     .nav-top .navbar-item {
        padding: 0;
    }
}
