@import "components/utilities";
@import "components/navbar";
@import "components/hero";
@import "components/responsiveness";

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   scroll-behavior: smooth;
   font-size: 62.5%;
}

body {
   box-sizing: border-box;
   //remove horizontal scroll from body
   max-width: 100%;
   overflow-x: hidden;
   font-family: "Montserrat", sans-serif;
}

// FOR OLD BROWSERS
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
