/* medium - display 2  */
@media (min-width: 768px) {
   .carousel-inner .carousel-item-right.active,
   .carousel-inner .carousel-item-next {
      transform: translateX(50%);
   }

   .carousel-inner .carousel-item-left.active,
   .carousel-inner .carousel-item-prev {
      transform: translateX(-50%);
   }
}

/* large - display 3 */
@media (min-width: 992px) {
   .carousel-inner .carousel-item-right.active,
   .carousel-inner .carousel-item-next {
      transform: translateX(33%);
   }

   .carousel-inner .carousel-item-left.active,
   .carousel-inner .carousel-item-prev {
      transform: translateX(-33%);
   }
}

@media (max-width: 768px) {
   .carousel-inner .carousel-item > div {
      display: none;
   }

   .carousel-inner .carousel-item > div:first-child {
      display: block;
   }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
   display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
   transform: translateX(0);
}

.carousel-control-next,
.carousel-control-prev {
   z-index: 1;
   position: static !important;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
   -ms-flex-pack: center;
   justify-content: center;
   width: 15%;
   color: #fff;
   opacity: 1 !important;
   text-align: center;
   transition: opacity 0.15s ease;
}

.prev-next {
   display: flex;
   width: 100px;
   justify-content: center;
   margin: auto;

   a {
      width: 50% !important;

      span {
         width: 100px;
         font-size: 4rem;
      }
   }
}
