.contact {
   &-body {
      display: flex;
      height: 550px;
      justify-content: center;

      form input {
         border: 2px solid #9c9ab3;
         border-radius: 10px;
         height: 50px;
         font-weight: 500;
         font-size: 2rem;
         color: #9c9ab3;
         padding: 5px 15px;
         width: 100%;

         &::placeholder {
            font-size: 2.4rem;
         }
      }

      textarea {
         height: 210px;
         padding: 5px 15px;
         width: 100%;
         border: 2px solid #9c9ab3;
         border-radius: 10px;
         font-size: 2rem;
         color: #9c9ab3;

         &::placeholder {
            font-size: 2.4rem;
         }
      }

      .send-message {
         width: 40%;

         h4 {
            color: #1e326c;
            font-size: 2.2rem;
            font-weight: bold;
         }
      }

      .middle {
         width: 150px;
         position: relative;
         top: 145px;
         text-align: center;

         h4 {
            color: #1e326c;
            font-size: 2.4rem;
            font-weight: bold;
         }
      }

      .appointment {
         width: 40%;
         h4 {
            color: #1e326c;
            font-size: 2.2rem;
            font-weight: bold;
         }
      }
   }
}
