.footer-container {
   position: relative;
}

.footer {
   display: grid;
   grid-template-columns: 250px 360px 220px;
   justify-content: space-between;
   padding-left: 100px;
   padding-right: 100px;
   gap: 20px;

   &-address {
      li {
         display: flex;
         align-items: center;
         font-size: 1.8rem;
         font-weight: 200;

         margin-top: 10px;

         img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
         }
      }
   }

   &-social {
      display: flex;
      justify-content: space-between;

      img {
         width: 15px;
         height: 15px;
         object-fit: contain;
      }

      li {
         width: 30px;
         height: 30px;
         border: 1px solid white;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
      }
   }

   ul {
      list-style: none;
   }

   &-links {
      display: flex;
      margin-top: 50px;

      ul {
         width: 50%;

         &:not(:last-child) {
            padding-left: 50px;
         }

         li {
            font-weight: normal;

            &:not(:last-child) {
               margin-bottom: 3px;
            }

            a {
               font-weight: 100;
               font-size: 2rem;
               text-decoration: none;
               color: white;

               &:hover {
                  text-decoration: underline;
               }
            }
         }
      }
   }

   &-subscribe {
      margin-top: 50px;

      form input {
         border: 2px solid #9c9ab3;
         border-radius: 10px;
         background: transparent;
         height: 50px;
         font-weight: 500;
         font-size: 2rem;
         color: #9c9ab3;
         padding: 5px 15px;
         width: 100%;

         &::placeholder {
            font-size: 2.4rem;
         }
      }
   }

   .active {
      font-weight: 500;
      font-size: 2rem;
   }

   &-copyright {
      margin-top: 20px;
      small {
         display: inline-block;
         font-weight: bold;
         font-size: 18px;
      }
   }
}

.go-up {
   position: absolute;
   bottom: 50px;
   z-index: 10;
   right: 30px;

   a {
      text-decoration: none;
   }

   i {
      display: inline-block;
      background-color: white;
      font-weight: 500;
      color: black;
      font-size: 1.5rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
