.services {
   &-body {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      column-gap: 10px;
      row-gap: 100px;
      margin-top: 70px;

      h3 {
         color: #1e326c;
      }

      p {
         color: #0a1841;
         width: 315px;
         margin: auto;
      }

      img {
         width: 70px;
         height: 70px;
         object-fit: cover;
         display: inline-block;
      }
   }
}
