.services {
   &-body {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      column-gap: 10px;
      row-gap: 100px;
      margin-top: 70px;

      h3 {
         color: #1e326c;
      }

      p {
         color: #0a1841;
         width: 315px;
         margin: auto;
      }

      .border-circle {
         width: 90px;
         height: 90px;
         margin: auto;
         border: 2px solid #eeeeee;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      img {
         width: 50px;
         height: 50px;
         object-fit: cover;
         display: inline-block;
      }
   }
}
