.testimonial {
   height: 477px;
   padding-left: 20px;
   padding-right: 20px;

   &-body {
      margin-left: auto;
      margin-right: auto;
   }

   p {
      width: 500px;
      margin: auto;
   }

   img {
      width: 104px;
      height: 104px;
      margin: 20px auto;
   }

   figure {
      span {
         font-size: 2.4rem;
         font-weight: bold;
         b {
            font-size: 1.8rem;
            font-weight: 100;
         }
      }
   }
}

.review__testimonial {
   padding: 10px 15px;
   border: 2px solid #9c9ab3;
   border-radius: 50px;
}

.slick-current:focus {
   outline: none;
   border: 2px solid #9c9ab3;
}
