.defaultBg {
   background: #1e326c;
}

.font18pxbold {
   font-size: 1.8rem;
   font-weight: bold;
}

.font18pxnormal {
   font-size: 1.8rem;
   font-weight: normal;
}

.lg-heading {
   font-size: 9.6rem;
   font-weight: bold;
}

.paragraph-bold {
   font-size: 1.8rem;
   font-weight: 500;
}

.default-btn {
   background-color: #3da9fc;
   border-radius: 10px;
   font-weight: bold;
   font-size: 2.2rem;
   color: white;
   padding: 20px 30px;
   height: 69px;
}
