.defaultBg {
   background: #1e326c;
}

.font18pxbold {
   font-size: 1.8rem;
   font-weight: bold;
}

.font18pxnormal {
   font-size: 1.8rem;
   font-weight: normal;
}

.lg-heading {
   font-size: 9.6rem;
   font-weight: bold;
}

.md-heading {
   font-size: 4.8rem;
   line-height: 50px;
   font-weight: bold;
   color: #1e326c;
}

.xm-heading {
   font-weight: 600;
   font-size: 2.2rem;
}
.paragraph-bold {
   font-size: 1.8rem;
   font-weight: 500;
}

.paragraph-bold-blue {
   font-size: 1.8rem;
   font-weight: 600;
   color: #3da9fc;
   line-height: 20px;
}

.default-btn {
   background-color: #3da9fc;
   border-radius: 10px;
   font-weight: bold;
   font-size: 2.2rem;
   color: white;
   padding: 20px 30px;
   height: 69px;
}

.border-bottom {
   width: 80px;
   margin: auto;
   border: 1px solid #1e326c;
}
